<input type="button" id="btnExport" value="Export XLS"><br>

<div class="table-responsive" id="dvData">
        <table  class="table table-condensed">
           <thead>
           <tr>
               <th scope="col">Trans Date</th>
               <th scope="col">Area</th>
	       <th scope="col">Type</th>
               <th scope="col">What</th>
               <th scope="col">Why</th>
               <th scope="col">Part # </th>
               <th scope="col">Job #</th>
               <th scope="col">Qty</th>
               <th scope="col">Units</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @ints }}" value="{{ @rows }}">
               <tr>
                   <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                   <td>{{ trim(@rows.area) }}</td>
                   <td>{{ trim(@rows.type) }}</td>
                   <td>{{ trim(@rows.what) }}</td>
                   <td>{{ trim(@rows.reason) }}</td>
                   <td>{{ trim(@rows.partnumber) }}</td>
                   <td>{{ trim(@rows.jobnumber) }}</td>
                   <td>{{ trim(@rows.qty) }}</td>
                   <td>{{ trim(@rows.units) }}</td>
                   <td>
                      [ <a href="{{ @BASE.'/int/update/'. @rows.id }}">Edit</a> | 
                       <a href="{{ @BASE.'/int/delete/'. @rows.id }}">Delete</a> ]
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

$(document).ready(function(){
  $("#btnExport").click(function(e) {
    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

</script>



