<form action="/int/update" method="post" class="form-horizontal">
    
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="transdate">Date:</label>
    <div class="col-xs-5 col-sm-2">
      <input type="text" class="form-control" id="transdate" name="transdate" placeholder="mm/dd/yyyy" value="{{ @POST.transdate }}">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="type">Type:</label>
    <div class="col-xs-5 col-sm-3">
        <select id="type" name="type" class="form-control"/>
        </select>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="station">Area::</label>
    <div class="col-xs-5 col-sm-3">
        <select id="area" name="area" value="" class="form-control"/>
	    <option>
            <option {{ @POST.area=='Machine Shop'?'selected':'' }}>Machine Shop
            <option {{ @POST.area=='Station 1'?'selected':'' }}>Station 1
            <option {{ @POST.area=='Station 2'?'selected':'' }}>Station 2
            <option {{ @POST.area=='Station 3'?'selected':'' }}>Station 3
            <option {{ @POST.area=='Station 4'?'selected':'' }}>Station 4  
            <option {{ @POST.area=='Station 5'?'selected':'' }}>Station 5
            <option {{ @POST.area=='Sub Assy'?'selected':'' }}>Sub Assy
            <option {{ @POST.area=='Hardware Test'?'selected':'' }}>Hardware Test  
        </select>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="what">What:</label>
    <div class="col-xs-5 col-sm-3">
        <select id="what" name="what" class="form-control"/>
        </select>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="reason">Reason:</label>
    <div class="col-xs-5 col-sm-3">
        <select id="reason" name="reason" class="form-control"/>
        </select>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="good">Qty:</label>
    <div class="col-xs-5 col-sm-2"> 
      <input type="text" class="form-control" id="qty" name="qty" placeholder="Quantity" value="{{ @POST.qty }}">
      <input type="text" class="form-control" id="units" name="units" value="{{ @POST.units }}" readonly>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="partnumber">Part No:</label>
    <div class="col-xs-5 col-sm-3">
      <input type="text" class="form-control" id="partnumber" name="partnumber" placeholder="Part Number"  value="{{ @POST.partnumber }}">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="jobnumber">Job No:</label>
    <div class="col-xs-5 col-sm-3">
      <input type="text" class="form-control" id="jobnumber" name="jobnumber" placeholder="Job Number" value="{{ @POST.jobnumber }}">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="ordernumber">Order No:</label>
    <div class="col-xs-5 col-sm-3">
      <input type="text" class="form-control" id="ordernumber" name="ordernumber" placeholder="Order Number" value="{{ @POST.ordernumber }}">
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="description">Description:</label>
    <div class="col-xs-9 col-sm-5">
      <textarea class="form-control" id="description" name="description" placeholder="Write the description...">{{ @POST.description }}</textarea>
    </div>
  </div>
  <br>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="instructions">Instructions:</label>
    <div class="col-xs-9 col-sm-5">
      <textarea class="form-control" id="instructions" name="instructions" placeholder="Write the instructions...">{{ @POST.instructions }}</textarea>
    </div>
  </div>
  <br>
  <input type="hidden" name="id" value="{{ @POST.id }}" />
  <input type="hidden" id="unit" name="unit" value="{{ @POST.unit}}"/>
  <input type="hidden" name="update" value="update" />
  <div class="form-group"> 
    <div class="col-xs-offset-3 col-xs-10 col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


<script>   
    
    $(document).ready(function(){  
        $("#timestamp").val(formatNow());
        $("#what").empty();
        if ('{{ @POST.area }}'.includes('Machine Shop')) {
            $.each(mfg, function(index,value) {
		            if ('{{ @POST.what }}' == value) {  
                  $('#what').append($('<option selected>').text(value).attr('value',value));
                } else {
                  $('#what').append($('<option>').text(value).attr('value',value));
                }
            });             
        }
        if ('{{ @POST.area }}'.includes('Station')) {
            $.each(assy, function(index,value) {
                if ('{{ @POST.what }}' == value) { 
		              $('#what').append($('<option selected>').text(value).attr('value',value));
		            } else {
                  $('#what').append($('<option>').text(value).attr('value',value));
                }
            });
        }
        if ('{{ @POST.area }}'.includes('Sub')) {
            $.each(sub, function(index,value) {
		            if ('{{ @POST.what }}' == value) {  
                  $('#what').append($('<option selected>').text(value).attr('value',value));
                } else {
                  $('#what').append($('<option>').text(value).attr('value',value));
                }
            });
        }
        $.each(type, function(index,value){
		      if ('{{ @POST.type }}' == value) {
            $('#type').append($('<option selected>').text(value).attr('value',value));
          } else {
            $('#type').append($('<option>').text(value).attr('value',value));
          }
	});
	
	$.each(why, function(index,value){
		var x = '{{ @POST.what }}';
        if (value.includes(x)) {
		    var arr = value.split(":");
			if ('{{ @POST.reason }}' == arr[1]) {
	      $('#reason').append($('<option selected>').text(arr[1]).attr('value',arr[1]));
      } else {
        $('#reason').append($('<option>').text(arr[1]).attr('value',arr[1]));
			}
        }
    });
});     

</script>

</div>
