<!--<input type="button" id="btnExport" value="Export"><br> //-->
<div id="dvData">
        <table  class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Start Date</th>
               <th scope="col">End Date</th>
               <th scope="col">Customer</th>
               <th scope="col">Country</th>
               <th scope="col">Hours</th>
               <th scope="col"></th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ substr(trim(@rows.startdate),0,16) }}</td>
                   <td>{{ substr(trim(@rows.enddate),0,16) }}</td>
                   <td>{{ trim(@rows.customer) }}</td>
                   <td>{{ trim(@rows.country) }}</td>
                   <td align="right">{{ trim(@rows.hours) }}</td>
                   <td></td>
                   <td>
                       <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a> &nbsp; 
                       <a href="#" onClick="confirmDelete('{{ @section }}',{{ @rows.id }})"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>
// Number of columns filtering
var columns = [3,4];

$(document).ready(function(){
  // Highlight the menu link
  $("#clock-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  
  $("#btnExport").click(function(e) {
//    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    window.open('data:application/csv,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

function confirmDelete(section,rid) {
  console.log(rid);
        if(confirm("Delete record:"+rid+" ?")) 
        {
           window.open("/"+section+"/delete/"+rid,"_top");
        }
}


</script>



