<!--<input type="button" id="btnExport" value="Export"><br> //-->
<input type="text" id="search" onkeyup="searchTable()" placeholder="Customer or Zipcode">
<p>
<div id="dvData">
        <table  class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Start Date</th>
               <th scope="col">End Date</th>
               <th scope="col">Customer</th>
               <th scope="col">Country</th>
               <th scope="col">Hours</th>
               <th scope="col"></th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @clocktime }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ substr(trim(@rows.startdate),0,16) }}</td>
                   <td>{{ substr(trim(@rows.enddate),0,16) }}</td>
                   <td>{{ trim(@rows.customer) }}</td>
                   <td>{{ trim(@rows.country) }}</td>
                   <td align="right">{{ trim(@rows.hours) }}</td>
                   <td></td>
                   <td>
                       <a href="{{ @BASE.'/clocktime/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a> &nbsp; 
                       <a href="#" onClick="confirmDelete({{ @rows.id }})"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

$(document).ready(function(){
  // Highlight the menu link
  $("#clock-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  
  $("#btnExport").click(function(e) {
//    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    window.open('data:application/csv,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

function confirmDelete(rid) {
  console.log(rid);
        if(confirm("Delete record:"+rid+" ?")) 
        {
           window.open("{{ @BASE }}/clocktime/delete/"+rid,"_top");
        }
}

function searchTable() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("dvData");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>



