<form action="/clocktime/update" method="post" class="form-horizontal">

<div class="row">
  <div class="col-lg-4">
    <label class="control-label" for="customer">Customer:</label>
      <input type="text" class="form-control" id="customer" name="customer" value="{{ @POST.customer }}">
  </div>
  <div class="col-lg-4">
    <label class="control-label" for="area">Country:</label>
        <select id="country" name="country" value="" class="browser-default custom-select">
        </select>
  </div>
</div>
<div class="row">
  <div class="col">
    <label class="control-label" for="startdate">Start Date:</label>
      <input type="text" class="form-control" id="startdate" name="startdate">
  </div>
  <div class="col">
    <label class="control-label" for="enddate">End Date:</label>
      <input type="text" class="form-control" id="enddate" name="enddate">
  </div>
  <div class="col">
    <label class="control-label" for="enddate">Hours:</label>
      <input type="text" class="form-control" id="hours" name="hours" value="{{ @POST.hours }}" style="text-align:right;"  readonly>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <label class="control-label" for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="3">{{ @POST.description }}</textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <input type="hidden" name="id" value="{{ @POST.id }}">
    <input type="hidden" name="username" value="{{ @SESSION.user }}"/>
    <input type="hidden" name="company" value="{{ @SESSION.company }}"/>
    <input type="hidden" name="update" value="update" />
    <button type="submit" id="mode" class="btn btn-warning">update</button>
  </div>
  <div class="col"></div>
  <div class="col">
    <a href="/clocktime/delete/{{ @POST.id }}"><button id="mode" class="btn btn-warning">delete</button></a>
  </div>
</div>
</form>
<script>
  const submitButton = document.getElementById('mode');
  submitButton.disabled = false;

  // Highlight the menu link
  $("#clock-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  
  // without jQuery (doesn't work in older IEs)
  document.addEventListener('DOMContentLoaded', function(){ 
	document.getElementById('startdate').value = formatDBDate('{{ @POST.startdate }}');
	document.getElementById('enddate').value = formatDBDate('{{ @POST.enddate }}');
        $.each(countryFields, function(index, value){
        if(value == '{{ @POST.country }}') {
                $('#country').append($('<option>').text(value).attr('value',value).attr('selected','selected'));
        } else {
                $('#country').append($('<option>').text(value).attr('value',value));
        }
        });
  }, false);

  document.getElementById('startdate').addEventListener('focusout',(event)=>{ diffdate(); });
  document.getElementById('enddate').addEventListener('focusout',(event)=>{ diffdate(); });
  document.getElementById('description').addEventListener('click', (event)=> { checkStatus() });

  function checkStatus() {
	let status = 0;
	if(document.getElementById('hours').value > 0 ) { status++; }
	if(document.getElementById('customer').value.length > 4 ) { status++; }
	console.log(status);
	if(status>=2) { submitButton.disabled = false; }
	else { submitButton.disabled = true; }
  } 

  function diffdate() {
	let std = new Date(document.getElementById('startdate').value);
	let end = new Date(document.getElementById('enddate').value);
	let diffmill = (end-std)/1000/3600;
	document.getElementById('hours').value = diffmill.toFixed(2);
  } 
</script>
