<p>
<form action="/stations/{{ @mode }}" method="post" class="form-horizontal">
<div class="row">
  <div class="col-lg-4">
    <label class="control-label" for="transdate">Transaction Date:</label>
      <input type="text" class="form-control" id="transdate" name="transdate" placeholder="mm/dd/yyyy" value="<check if="{{ @mode == 'update' }}">value="{{ substr(@POST.transdate,0,10) }}</check>">
  </div>
</div>
<div class="row">
	<div class="col-lg-4">
	  <label class="control-label" for="site">Site:</label>
		  <select id="site" name="site" value="" class="browser-default custom-select" required>
		  </select>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
	  <label class="control-label" for="product">Product/Area:</label>
		  <select id="product" name="product" value="" class="browser-default custom-select" required>
		  </select>
	</div>
</div>
<div class="row">
<div class="col-lg-4">
	<label class="control-label" for="machine">Machine/Department:</label>
		<select id="machine" name="machine" value="" class="browser-default custom-select" required>
	</select>
</div>
</div>  
  <div class="row">
  <div class="col-lg-4">
    <label class="control-label" for="title">Station/Topic:</label>
      <input type="text" class="form-control" id="title" name="title" value="<check if="{{ @mode == 'update' }}">{{ @POST.title }} </check>" placeholder="Station Name" required>
  </div>
</div>
<br>
<div class="row">
	<div class="col-lg-4">
	  <label class="control-label" for="description">Training Version:</label>
		<input type="text" class="form-control" id="inst_version" name="inst_version" value="<check if="{{ @mode == 'update' }}">{{ @POST.inst_version }}</check>" placeholder="Instruction's Version"/>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
	  <label class="control-label" for="description">Training Refresh:</label>
		<input type="number" class="form-control" id="inst_refresh" name="inst_refresh" min="30" value="<check if="{{ @mode == 'update' }}">{{ @POST.inst_refresh }}</check>" placeholder="Refresh period (days)"/>
	</div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <label class="control-label" for="description">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="3"><check if="{{ @mode == 'update' }}">{{ @POST.description }}</check></textarea>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
   <check if="{{ @mode == 'update' }}">
    <input type="hidden" name="id" value="{{ @POST.id }}">
   </check>
    <input type="hidden" id="timestamp" name="timestamp">
    <input type="hidden" name="username" value="{{ @SESSION.user }}"/>
    <input type="hidden" name="{{ @mode }}" value="{{ @mode }}" />
    <button type="submit" class="btn btn-warning" >{{ @mode }}</button>
  </div>
</div>
</form>
<script>

 $(document).ready(function(){  
	$("#create-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
	//Getting time stamp for record
	$("#timestamp").val(formatNow());
	<check if="{{ @mode == 'update' }}">
	document.getElementById('transdate').value = formatDBDate('{{ @POST.transdate }}');
	</check>
	<check if="{{ @mode == 'create' }}">
	document.getElementById('transdate').value = formatDates();
	</check>
        
	// ajax {{ @mode }}
	<check if="{{ @mode == 'update' }}">
	var cid = {{ @SESSION.company*1 }};
	var filter = 'company';
    //console.log(cid);
	$.get( "/productlist/"+filter+"/"+cid  )	
		.done(function( data ) {
		var datx = JSON.parse(data);
		$('#product').append($('<option>').text("Select...").attr('value',''));
		$.each(datx, function(index,value) {
			if (value.id == {{ @POST.product }}  ) {
				$('#product').append($('<option>').text(value.title).attr('value',value.id).attr('selected','selected'));
			} else {
   				$('#product').append($('<option>').text(value.title).attr('value',value.id));
			}
		});
	});
	var cid = {{ @SESSION.company*1 }};
	var filter = 'company';
    //console.log(cid);
	$.get( "/machinelist/"+filter+"/"+cid  )
  		.done(function( data ) {
		var datx = JSON.parse(data);
		$('#machine').append($('<option>').text("Select...").attr('value',''));
		$.each(datx, function(index,value) {
			if (value.id == {{ @POST.machine }}  ) {
				$('#machine').append($('<option>').text(value.title).attr('value',value.id).attr('selected','selected'));
			} else {
   				$('#machine').append($('<option>').text(value.title).attr('value',value.id));
			}
		});
	  });  
	var cid = {{ @SESSION.company*1 }}; 
	var filter = 'company';
    //console.log(cid);
	$.get( "/sitelist/"+filter+"/"+cid  )
  		.done(function( data ) {
		var datx = JSON.parse(data);
		$('#site').append($('<option>').text("Select...").attr('value',''));
		$.each(datx, function(index,value) {
			if (value.id == {{ @POST.site }}  ) {
				$('#site').append($('<option>').text(value.city).attr('value',value.id).attr('selected','selected'));
			} else {
   				$('#site').append($('<option>').text(value.city).attr('value',value.id));
			}
		});
  	});  
	</check>
	<check if="{{ @mode == 'create' }}">
		productCList();
		machineCList();
		siteCList();
	</check>

 });
      
function productCList() {
	var cid = {{ @SESSION.company*1 }};
	var filter = 'company';
    //console.log(cid);
	$.get( "/productlist/"+filter+"/"+cid  )
                .done(function( data ) {
				var datx = JSON.parse(data);
				$('#product').append($('<option>').text('Select...').attr('value',''));
                $.each(datx, function(index,value) {
                        $('#product').append($('<option>').text(value.title).attr('value',value.id));
                });
		});
}
function machineCList() {
	var cid = {{ @SESSION.company*1 }};
	var filter = 'company';
    //console.log(cid);
	$.get( "/machinelist/"+filter+"/"+cid  )
                .done(function( data ) {
				var datx = JSON.parse(data);
				$('#machine').append($('<option>').text('Select...').attr('value',''));
                $.each(datx, function(index,value) {
                        $('#machine').append($('<option>').text(value.title).attr('value',value.id));
                });
		});
}
function siteCList() {
	var cid = {{ @SESSION.company*1 }};
	var filter = 'company';
    //console.log(cid);
	$.get( "/sitelist/"+filter+"/"+cid  )
                .done(function( data ) {
				var datx = JSON.parse(data);
				$('#site').append($('<option>').text('Select...').attr('value',''));
                $.each(datx, function(index,value) {
                        $('#site').append($('<option>').text(value.city).attr('value',value.id));
                });
        });
}
</script>
