<!--<input type="button" id="btnExport" value="Export"><br> //-->
<div id="dvData">
        <table id="expenses" class="table table-hover">
           <thead class="thead-light">
           <tr>
              <th scope="col">Site</th>
	            <th scope="col">Product</th>
              <th scope="col">Machine</th>
              <th scope="col">Station</th>
              <th scope="col">Version</th>
              <th scope="col">Refresh</th>
              <th scope="col">Defects</th>
              <th scope="col">Delays</th>
              <th scope="col">Rework</th>
              <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                  <td>{{ trim(@rows.sites) }}</td>
                  <td>{{ trim(@rows.product) }}</td>
                  <td>{{ trim(@rows.machine) }}</td>
                  <td>{{ trim(@rows.title) }}</td>
                  <td>{{ trim(@rows.inst_version) }}</td>
                  <td>{{ trim(@rows.inst_refresh) }}</td>
                  <td>{{ trim(@rows.defect) }}</td>
                  <td>{{ trim(@rows.delay) }}</td>
                  <td>{{ trim(@rows.rework) }}</td>
                  <td>
                    <a href="{{ @BASE.'/scrap/'.@rows.id }}"><img src="/ui/images/defect.png" width="25" title="{{ @rows.defect }} Defects"></a> &nbsp;
                    <a href="{{ @BASE.'/downtime/'.@rows.id }}"><img src="/ui/images/delay.png" width="20" title="{{ @rows.delay }} Delays"></a> &nbsp;
                    <a href="{{ @BASE.'/rework/'.@rows.id }}"><img src="/ui/images/rework.png" width="20" title="{{ @rows.rework }} Rework"></a> &nbsp;
                    <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15" title="Edit"></a> &nbsp;
                    <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15" title="Delete"></a> 
                  </td>
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>
// Number of columns to filter data
var columns = {{ @columns }};

$(document).ready(function(){
  $("#list-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  $("#btnExport").click(function(e) {
//    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    window.open('data:application/csv,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

function confirmDelete(section,rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/"+section+"/delete/"+rid,"_self");
	}
}

</script>



