<!--<input type="button" id="btnExport" value="Export"><br> //-->
<div id="dvData">
        <table id="expenses" class="table table-hover">
           <thead class="thead-light">
           <tr>
              <th scope="col">Site</th>
	            <th scope="col">Product</th>
              <th scope="col">Machine</th>
              <th scope="col">Station</th>
              <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @stations }}" value="{{ @rows }}">
               <tr>
                  <td>{{ trim(@rows.sites) }}</td>
                  <td>{{ trim(@rows.product) }}</td>
                  <td>{{ trim(@rows.machine) }}</td>
                  <td>{{ trim(@rows.title) }}</td>
                  <td>
                    <a href="/instructions/display/{{ trim(@rows.id) }}"><img src="/ui/images/tv.png" width="42" title="Display"></a>&nbsp;
                    <a href="/instructions/{{ trim(@rows.id) }}"><img src="/ui/images/page.gif" width="15" title="Edit Instructions"></a> &nbsp;
                    <a href="/instructions/create/{{ trim(@rows.id) }}"><img src="/ui/images/newpaget.png" width="20" title="Add tasks"></a> &nbsp;
                    <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15" title="Edit Station"></a> &nbsp;
                    <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15" title="Delete Station"></a> 
                  </td>
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>
// Number of columns to filter data
var columns = {{ @columns }};

$(document).ready(function(){
  $("#stations-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  $("#btnExport").click(function(e) {
//    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    window.open('data:application/csv,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

function confirmDelete(section,rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/"+section+"/delete/"+rid,"_self");
	}
}

</script>



