<html>
<head>
  <title>Welcome!!</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
 <link href="/ui/css/signin.css" rel="stylesheet">
</head>

<body>
 <link href="/ui/css/signin.css" rel="stylesheet">

 <div class="container">
	<center>
	<img src="/ui/images/DiazLLC_logo_box.jpeg" width="120">
	</center>
	<p>
      <form class="form-signin" method="POST" action="/authenticate">
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <!--<input type="checkbox" value="remember-me"> Remember me//-->
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      </form>
	<center>Create your username <a href="/signin">Sign in</a></center>
 </div> <!-- /container -->
 <br>
  <div class="alert alert-{{ @stat }}" role="alert">
    <center><strong>{{ @msg }}</strong></center>
  </div>
</body>
</html>
