<!--<input type="button" id="btnExport" value="Export"><br> //-->
<p> 
<div id="dvData">
    <form method="post" id="{{ @section }}form" action="/{{ @section }}/{{ @mode }}">
        <div class="row">
            <input type="hidden" id="id" name="id" value="{{ @POST.id }}"/>
            <input type="hidden" id="company" name="company" value="{{ @SESSION.company }}"/>
            <input type="hidden" name="{{ @mode }}" value="{{ @mode }}"/>
            <input type="hidden" id="username" name="username" value="{{ @SESSION.user }}"/>   
            <div class="col-lg-2"><input type="text" id="firstname" name="firstname" class="form-control" placeholder="First name" value="{{ @POST.firstname }}"></div>
            <div class="col-lg-2"><input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name" value="{{ @POST.lastname }}"></div>
            <div class="col-lg-3"><input type="text" id="email" name="email" class="form-control" placeholder="e-mail" value="{{ @POST.email }}"></div>
            <div class="col-lg-2"><input type="text" id="accesscode" name="accesscode" class="form-control" placeholder="Access Code" value="{{ @POST.accesscode }}"></div>
            <div class="col-lg-1"><input type="submit" id="mode" name="mode" value="{{ @mode }}" class="btn btn-warning"></div>
            <div class="col-lg-1"><check if="{{ @mode == 'update'}}"><a href="{{ @BASE.'/'.@section }}" ><button type="button" class="btn">cancel</button></a></check></div>
        </div>
    </form>   
    <br>
        <table id="invoices" class="table ">
           <thead class="thead-light">
           <tr>
               <th scope="col">Id</th>
               <th scope="col">First name</th>
               <th scope="col">Last Name</th>
               <th scope="col">e-mail</th>
               <th scope="col">Access Code</th>
               <th scope="col">Active</th>
	           <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
		   <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                <td>{{ @rows.id }}</td>
                <td>{{ @rows.firstname }}</td>
                <td>{{ @rows.lastname }}</td>
                <td>{{ @rows.email }}</td>
                <td>{{ @rows.accesscode }}</td> 
                <td>{{ @rows.active==1?'Yes':'No' }}</td>
                <td width="10%">
                    <a href="{{ @BASE.'/'.@section.'/active/'. @rows.id }}"><img src="/ui/images/active.png" width="15" title="Active/Deactive"></a> &nbsp;
                    <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15" title="Edit"></a> &nbsp;
                    <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15" title="Delete"></a> 
                </td>      
               </tr>
           </repeat>
           </tbody>
        </table>
</div>

<script>
   var columns = {{ @columns }};
    
   $(document).ready(function(){
    $("#list-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
   });

   function confirmDelete(rid) {
	if(confirm("Delete record # "+rid+" ?")){
		window.open("/{{ @section }}/delete/"+rid,"_self");
	}
   }
</script>



