<!--<input type="button" id="btnExport" value="Export"><br> //-->
<div id="dvData">
        <table id="invoices" class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Date</th>
               <th scope="col">Due Date</th>
               <th scope="col">Status</th>
               <th scope="col">Customer</th>
	             <th scope="col">Address</th>
               <th scope="col">Invoice</th>
               <th scope="col">Total</th>
               <th scope="col">Details</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                   <td>{{ substr(trim(@rows.duedate),0,10) }}</td>
                   <td>{{ trim(@rows.invoicestatus) }}</td>
                   <td>{{ trim(@rows.customer) }}</td>
                   <td>{{ substr(trim(@rows.customerd),0,25) }}...</td>
                   <td>{{ trim(@rows.invoicenumber) }}</td>
                   <td align="right">{{ number_format(@rows.total,2) }}</td>
                   <td align="center">
                    <a href="{{ @BASE. '/'.@section.'/details/'. @rows.id}}"><img src="/ui/images/page.gif" width="15"></a>&nbsp;
                    <a href="{{ @BASE. '/'.@section.'/print/'. @rows.id}}"><img src="/ui/images/print.gif" width="20"></a>
                   </td>
                   <td>
                       <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a>&nbsp;
                       <a href="#" onClick="confirmDelete('{{ @section }}',{{ @rows.id }})"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>
// Number of columns filtering
var columns = {{ @columns }};

// Highlight the menu link
$("#invoices-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');

function confirmDelete(section,rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/"+section+"/delete/"+rid,"_self");
	}
}
</script>



