<!--<input type="button" id="btnExport" value="Export"><br> //-->
<input type="text" id="search" onkeyup="searchTable()" placeholder="Customer or Zipcode">
<p>
<div id="dvData">
        <table id="invoices" class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Date</th>
               <th scope="col">Due Date</th>
               <th scope="col">Status</th>
               <th scope="col">Customer</th>
	             <th scope="col">Address</th>
               <th scope="col">Invoice</th>
               <th scope="col">Total</th>
               <th scope="col">Details</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @invoices }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                   <td>{{ substr(trim(@rows.duedate),0,10) }}</td>
                   <td>{{ trim(@rows.invoicestatus) }}</td>
                   <td>{{ trim(@rows.customer) }}</td>
                   <td>{{ substr(trim(@rows.customerd),0,25) }}...</td>
                   <td>{{ trim(@rows.invoicenumber) }}</td>
                   <td align="right">{{ number_format(@rows.total,2) }}</td>
                   <td align="center">
			<a href="{{ @BASE. '/invoices/details/'. @rows.id}}"><img src="/ui/images/page.gif" width="15"></a>&nbsp;
			<a href="{{ @BASE. '/invoices/print/'. @rows.id}}"><img src="/ui/images/print.gif" width="20"></a>
		   </td>
                   <td>
                       <a href="{{ @BASE.'/invoices/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a>&nbsp;
                       <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

// Highlight the menu link
$("#invoices-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');

function searchTable() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("dvData");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function confirmDelete(rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/invoices/delete/"+rid,"_self");
	}
}
</script>



