<input type="button" id="btnExport" value="Export XLS"><br>

<div class="table-responsive" id="dvData">
        <table  class="table table-condensed">
           <thead>
           <tr>
               <th scope="col">Trans Date</th>
               <th scope="col">Unit</th>
	       <th scope="col">Area</th>
               <th scope="col">Sequence</th>
               <th scope="col">Filename</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @ups }}" value="{{ @rows }}">
               <tr>
                   <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                   <td>{{ trim(@rows.unit) }}</td>
                   <td>{{ trim(@rows.area) }}</td>
                   <td>{{ trim(@rows.sequence) }}</td>
                   <td>{{ trim(@rows.filename) }}</td>
                   <td>
                      [ <a href="{{ @BASE.'/upload/delete/'. @rows.id }}">Delete</a> ]
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

$(document).ready(function(){
  $("#btnExport").click(function(e) {
    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

</script>



