
<div class="table-responsive" id="dvData">
        <table  class="table table-condensed">
           <thead>
           <tr>
               <th scope="col">Date</th>
               <th scope="col">Customer</th>
	       <th scope="col">Area</th>
               <th scope="col">Filename</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @ups }}" value="{{ @rows }}">
               <tr>
                   <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                   <td>{{ trim(@rows.customer) }}</td>
                   <td>{{ trim(@rows.area) }}</td>
                   <td><a href="uploads/{{ trim(@rows.filename) }}">{{ trim(@rows.filename) }}</a></td>
                   <td>
			<check if="@SESSION.roles == 'Admin'">
                      [ <a href="{{ @BASE.'/upload/delete/'. @rows.id }}">Delete</a> ]
			</check>
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

$(document).ready(function(){
  $("#btnExport").click(function(e) {
    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

</script>



