<!--<input type="button" id="btnExport" value="Export"><br> //-->
<p>
  <h3>{{ @breadcrumbs }}</h3>
  <div id="dvData">
          <table id="tabledata" class="table" border="1">
             <thead class="thead-light">
             <tr>
                 <th scope="col">#</th>
                 <th scope="col">How</th>
                 <th scope="col">What</th>
                 <th scope="col">Why</th>
                 <th scope="col">Figures</th>
             </tr>
             </thead>
         
             <tbody>
             <repeat group="{{ @instructions }}" value="{{ @rows }}">
                 <tr>
                     <td width="6%">{{ trim(@rows.seq) }}</td>
                     <td width="15%">{{ trim(@rows.hows) }}</td>
                     <td width="15%">{{ trim(@rows.whats) }}</td>
                     <td width="15%">{{ trim(@rows.whys) }}</td>
                     <td width="40%" style="text-align:left;">
                         <span style="color:white;">{{ @count = 1 }}</span>
                        <repeat group="{{ @images }}" value="{{ @figs }}">
                            <check if="{{ @rows.id == @figs.relation and @count< 5}}">
                                <span style="display:inline-block;border-style:dotted;border-width:1px;text-align:center;">
                                    <img src="/{{ @figs.internalfn }}" width="100"  title="{{ substr(@figs.name,0,15) }}">
                                    <h6>{{ substr(@figs.name,0,15) }}</h6>
                                </span>
                                <span style="color:white;">{{ @count++}}</span>
                            </check>
                        </repeat>
                     </td>
                 </tr>
             </repeat>
             </tbody>
         
          </table>
         </div>
  <script>
 var columns = {{ @columns }};
  
  $(document).ready(function(){
    $("#stations-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  });
  
  function confirmDelete(rid) {
      if(confirm("Delete record:"+rid+" ?")){
          window.open("/instructions/delete/"+rid,"_self");
      }
  }
  </script>
  
  
  
  
