<!--<input type="button" id="btnExport" value="Export"><br> //-->

<h3>{{ @breadcrumbs }}</h3>
<div id="dvData">
        <table id="tabledata" class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">#</th>
               <th scope="col">How</th>
               <th scope="col">What</th>
               <th scope="col">Why</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                   <td width="8%">{{ trim(@rows.sequence) }}</td>
                   <td width="25%">{{ trim(@rows.hows) }}</td>
                   <td width="25%">{{ trim(@rows.whats) }}</td>
                   <td width="25%">{{ trim(@rows.whys) }}</td>
                   <td width="15%">
                      <a href="/figures/{{ trim(@rows.id) }}"><img src="/ui/images/image.png" width="22" title="Edit/Add pictures"></a> &nbsp;
                      <a href="{{ @BASE.'/'. @section .'/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15" title="Edit task"></a> &nbsp;
                      <a href="#" onClick="confirmDelete('{{ @section }}',{{ @rows.id }})"><img src="/ui/images/trash.gif" width="15" title="Delete task"></a> 
                   </td>
  
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>
// Number of columns to filter data  
var columns = {{ @columns }};

$(document).ready(function(){
  $("#stations-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
});

function confirmDelete(section,rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/"+section+"/delete/"+rid,"_self");
	}
}
</script>



