<form action="{{ @BASE.'/users/'.@mode }}" method="post" class="form-horizontal" onkeyup="validate()">
  <div class="row">
    <div class="col-sm-4">
      <label class="control-label" for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" onkeyup="check_username()"/>
    </div>
    <div class="col-sm-4" id="username_error"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label class="control-label" for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control"/>
    </div>
    <div class="col-sm-4" id="password_error"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label class="control-label" for="password">Re-Type:</label>
        <input type="password" id="retype" name="retype" class="form-control"/>
    </div>
    <div class="col-sm-4" id="retype_error"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label class="control-label" for="roles">User role:</label>
        <select id="roles" name="roles" class="form-control" onChange="validate()">
                <option>
                <option>Finance
                <option>Operations
                <option>Admin
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label class="control-label" for="company">Company:</label>
       <select id="company" name="company" class="form-control">
       </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label class="control-label" for="email">Email:</label>
        <input type="text" id="email" name="email" class="form-control"/>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-4">
      <button id="create" type="submit" class="form-control btn btn-warning">{{ @mode }}</button>
    </div>
  </div>
  <input type="hidden" name="{{ @mode }}" value="{{ @mode }}" />
</form>
<script>
$(document).ready(function(){
  // Highlight the menu link
  $("#create-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  
  
  $("#create").hide();

  <check if="{{ @mode == 'create' }}">
	$.get( "/companylist"  )
                .done(function( data ) {
				var datx = JSON.parse(data);
				$('#company').append($('<option>').text('Select...').attr('value',0));
                $.each(datx, function(index,value) {
                        $('#company').append($('<option>').text(value.name).attr('value',value.id));
                });
    });
  </check>

 });

  function validate(){
        var ok_count = 0;
        if ($("#username_error").html() == '<br><br>User available') { ok_count++; }
        if ($("#password_error").html() == '<br><br>') { ok_count++; }
        if ($("#retype_error").html() == '<br><br>') { ok_count++; }
        if ($("#roles").val() != '') { ok_count++; }
        if ($("#company").val() !='') { ok_count++; }
        if ($("#email").val() != '') { ok_count++; }
        if (ok_count == 6){
                $("#create").show();
        } else {
                $("#create").hide();
        }
        var error1 = '<br><br>';
        var error2 = '<br><br>';
        if ($("#password").val() != $("#retype").val()) {
                $("#retype").attr('style','background-color:white;color:black;')
                error2 += 'Password not matching';
        }
        $("#retype_error").html(error2);

        if ($("#password").val().length < 8) {
                $("#password").attr('style','background-color:white;color:black;')
                error1 += 'Must be at least 8 characters';
        }
        $("#password_error").html(error1);

  }

  function check_username() {
        var urlx = '/checkusername/'+$("#username").val();
        var error = '<br><br>';
        if ($("#username").val().length < 8) {
                $("#username").attr('style','background-color:white;color:black;')
                $("#username_error").html(error + 'Must be at least 8 characters');
        }
        if ($("#username").val().length >= 8) {
           $.get(urlx, function(data,result) {
                if ( data == 0 && result == 'success') {
                        $("#username").attr('style','background-color:green;color:white;')
                        $("#username_error").html(error + 'User available');
                        validate();
                } else {
                        $("#username").attr('style','background-color:red;color:white;')
                        $("#username_error").html(error + 'User NOT available');
                        validate();
                }
           });
        }
  }

</script>
