<check if="{{ @SESSION.roles=='Admin' }}">
      <div class="table-responsive" id="dvData">
        <table  class="table table-condensed">
           <thead>
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Username</th>
	       <th scope="col">Password</th>            
	       <th scope="col">Roles</th>            
               <th scope="col">Email</th>
               <th scope="col">BP</th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @users }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ trim(@rows.username) }}</td>
                   <td> ** </td>
                   <td>{{ trim(@rows.roles) }}</td>
                   <td>{{ trim(@rows.email) }}</td>
                   <td>{{ trim(@rows.bp_id) }}</td>
                   <td>
                    <a href="{{ @BASE.'/users/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a> &nbsp;
                    <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
  <h2>{{ @error }} </h2>

</check>

<script>
function confirmDelete(rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/users/delete/"+rid,"_self");
	}
}

</script>

