
<check if="{{ @SESSION.roles=='Admin' }}">
 <form action="{{ @BASE.'/users/update' }}" method="post" class="form-horizontal">
    
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="username">Username:</label>
        <input readonly type="text" id="username" name="username" value="{{ @POST.username }}" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="roles">User role:</label>
        <select id="roles" name="roles" class="form-control">
                <option>
                <option {{ @POST.roles=='User'?' selected':'' }}>User
                <option {{ @POST.roles=='Admin'?' selected':'' }}>Admin
                <option {{ @POST.roles=='Data'?' selected':'' }}>Data
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ @POST.email}}" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="bp_id">Business Partner:</label>
        <input type="text" id="bp_id" name="bp_id" value="{{ @POST.bp_id}}" class="form-control"/>
    </div>
  </div>
<br>
  <div class="row"> 
    <div class="col-sm-4">
      <button type="submit" name="update" id="update" class="form-control btn btn-warning">update</button>
    </div>
  </div>
  <input type="hidden" name="update" id="update" value="update" />
  <input type="hidden" name="id" id="id" value="{{ @POST.id }}" />

 </form>
</check>

