
<check if="{{ @SESSION.roles=='Admin' }}">
 <form action="{{ @BASE.'/users/'}}{{ @mode }}" method="post" class="form-horizontal">
    
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="username">Username:</label>
        <input  readonly type="text" id="username" name="username" value="{{ @POST.username }}" class="form-control" />
    </div>

  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="roles">User role:</label>
        <select id="roles" name="roles" class="form-control" onChange="validate()">
                <option>
                <option {{ @POST.roles=='Finance'?' selected':'' }}>Finance
                <option {{ @POST.roles=='Operations'?' selected':'' }}>Operations
                <option {{ @POST.roles=='Realtor'?' selected':'' }}>Realtor
                <option {{ @POST.roles=='Admin'?' selected':'' }}>Admin
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="company">Company:</label>
    <select id="company" name="company" class="form-control">
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="company">Verify:</label>
    <select id="verified" name="verified" class="form-control">
	<option value="1" {{ @POST.verified=='1'?' selected':''}} >Yes
	<option value="0" {{ @POST.verified=='0'?' selected':''}} >No
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <label class="control-label" for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ @POST.email}}" class="form-control"/>
    </div>
  </div>
<br>
  <div class="row"> 
    <div class="col-sm-4">
      <button type="submit" name="mode" id="mode" class="form-control btn btn-warning">{{ @mode }}</button>
    </div>
  </div>
  <input type="hidden" name="{{ @mode }}" id="{{ @mode }}" value="{{ @mode }}" />
  <input type="hidden" name="id" id="id" value="{{ @POST.id }}" />

 </form>
</check>

<script>

  $(document).ready(function(){
  // Highlight the menu link
  $("#create-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  $("#create").hide();
  <check if="{{ @mode == 'update' }}">
	$.get( "/companylist"  )
  		.done(function( data ) {
    var datx = JSON.parse(data);
    $company = {{ @SESSION.company*1 }};
		$('#company').append($('<option>').text("Select...").attr('value',0));
		$.each(datx, function(index,value) {
			if (value.id == {{ @POST.company*1 }} ) {
				$('#company').append($('<option>').text(value.name).attr('value',value.id).attr('selected','selected'));
			} else {
        if ($company == 0 ) {
          $('#company').append($('<option>').text(value.name).attr('value',value.id));
        }
			}
		});
  });
  </check>
 });



</script>

