<!--<input type="button" id="btnExport" value="Export"><br> //-->

<div id="dvData">
        <table id="expenses" class="table table-hover">
	<colgroup>
       	<col span="1" style="width: 5%;">
       	<col span="1" style="width: 10%;">
       	<col span="1" style="width: 10%;">
       	<col span="1" style="width: 5%;">
       	<col span="1" style="width: 10%;">
       	<col span="1" style="width: 15%;">
       	<col span="1" style="width: 15%;">
    	</colgroup>
           <thead class="thead-light">
           <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Type</th>
              <th scope="col">Cellphone</th>
              <th scope="col">Email</th>
              <th scope="col">Current Address</th>
              <th scope="col">Contract</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                  <td><i class="bi-person" title="{{ @rows.id.":".@rows.username }}"></i></td>
                  <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                  <td>{{ trim(@rows.clientname) }}</td>
                  <td>{{ trim(@rows.clienttype) }}</td>
                  <td>{{ trim(@rows.clientcell) }}</td>
                  <td>{{ trim(@rows.email) }} &nbsp; <a href="mailto:{{ trim(@rows.email) }}"><i class="bi-envelope" title="Send email"></i></a></td>
                  <td>{{ trim(@rows.address)}} &nbsp; <a href="{{ 'https://maps.google.com/maps/search/?api=1&query='. trim(@rows.address) }}" target="_blank"><i class="bi-pin-map" title="Map"></i></a></td>
                  <td>{{ trim(@rows.contract) }}</td>
                  <td>{{ trim(@rows.status) }}</td>
                  <td></td>
                  <td>
                      <a href="{{ @BASE.'/'.@section.'/houses/'. @rows.id }}"><i class="bi-house-door" title="Details"></i></a> &nbsp;
                      <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><i class="bi-pencil" title="Edit record"></i></a> &nbsp;
                      <a href="#" onClick="confirmDelete('{{@section}}',{{ @rows.id }})"><i class="bi-trash" title="Delete record"></i></a> 
                  </td>
               </tr>
           </repeat>
           </tbody>
        </table>
       </div>
<script>
// Numbers of columns filtering
var columns = {{ @columns }};

$(document).ready(function(){
  // Highlight the menu link
  $("#expenses-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
  
  $("#btnExport").click(function(e) {
    //    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    window.open('data:application/csv,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

function confirmDelete(section,rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/"+section+"/delete/"+rid,"_self");
	}
}
</script>



