<!--<input type="button" id="btnExport" value="Export"><br> //-->
<p> 
<div id="dvData">
        <table id="answers" class="table ">
           <thead class="thead-light">
           <tr>
               <th scope="col">Id</th>
               <th scope="col">Audit's Date</th>
               <th scope="col">Trainee</th>
               <th scope="col">Question</th>
               <th scope="col">Answer</th>
               <th scope="col"></th>
	       <th scope="col"></th>
           </tr>
           </thead>
       
           <tbody>
		   <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                <td>{{ @rows.id }}</td>
                <td>{{ @rows.timestamp }}</td>
                <td>{{ @rows.trainee }}</td>
                <td>{{ @rows.question }}</td>
                <td>{{ @rows.answer }}</td>
                <td></td> 
		<td>
		<!--<a href="{{ @BASE.'/'.@section.'/detail/'. @rows.id }}"><img src="/ui/images/filelist.png" width="20" title="Audit Detail"></a>//-->
		</td>
               </tr>
           </repeat>
           </tbody>
        </table>
</div>

<script>
   var columns = {{ @columns }};
   $(document).ready(function(){
    $("#instructions-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
   });


</script>



