<!--<input type="button" id="btnExport" value="Export"><br> //-->
<p> 
<div id="dvData">
    <form method="post" id="{{ @section }}form" action="/{{ @section }}/{{ @mode }}">
        <div class="row">
            <input type="hidden" id="id" name="id" value="{{ @POST.id }}"/>
            <input type="hidden" id="company" name="company" value="{{ @SESSION.company }}"/>
            <input type="hidden" name="{{ @mode }}" value="{{ @mode }}"/>
            <input type="hidden" id="username" name="username" value="{{ @SESSION.user }}"/>   
            <div class="col-lg-4"><input type="text" id="title" name="title" class="form-control" placeholder="{{ ucfirst(@section) }} title" value="{{ @POST.title }}" required></div>
            <div class="col-lg-6"><input type="text" id="description" name="description" class="form-control" placeholder="Brief Description" value="{{ @POST.description }}"></div>
            <div class="col-lg-1"><input type="submit" id="mode" name="mode" value="{{ @mode }}" class="btn btn-warning"></div>
            <div class="col-lg-1"><check if="{{ @mode == 'update'}}"><a href="{{ @BASE.'/'.@section }}" ><button type="button" class="btn">cancel</button></a></check></div>
        </div>
    </form>   
    <br>
        <table id="invoices" class="table ">
           <thead class="thead-light">
           <tr>
               <th scope="col">Id</th>
               <th scope="col"><u>Audit</u></th>
               <th scope="col">Description</th>
               <th scope="col"></th>
	           <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
		   <repeat group="{{ @sqldata }}" value="{{ @rows }}">
               <tr>
                <td>{{ @rows.id }}</td>
                <td>{{ @rows.title }}</td>
                <td>{{ substr(@rows.description,0,100) }}</td>
                <td></td> 
                <td width="15%">
                    <a href="{{ @BASE.'/questions/'. @rows.id }}"><i class="bi-file-earmark-text" title="Detail"></i></a> &nbsp;
                    <a href="{{ @BASE.'/'.@section.'/update/'. @rows.id }}"><i class="pencil" title="Edit"></i></a> &nbsp;
                    <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><i class="bi-trash"title="Delete"></i></a> 
                </td>      
               </tr>
           </repeat>
           </tbody>
        </table>
</div>

<script>
   var columns = {{ @columns }};
    
   $(document).ready(function(){
    $("#list-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
   });

   function confirmDelete(rid) {
	if(confirm("Delete record # "+rid+" ?")){
		window.open("/{{ @section }}/delete/"+rid,"_self");
	}
   }
</script>



