<form action="{{ @BASE.'/prod/update' }}" method="post" class="form-horizontal">
    
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="transdate">Date:</label>
    <div class="col-xs-5 col-sm-2">
      <input type="text" class="form-control" id="transdate" name="transdate" value="{{ @POST.transdate }}" placeholder="mm/dd/yyyy">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="station">Area:</label>
    <div class="col-xs-5 col-sm-3">
        <select id="area" name="area" value="" class="form-control"/>
	    <option>
            <option {{ @POST.area=='Manufacturing'?'selected':'' }}>Manufacturing
            <option {{ @POST.area=='Assembly'?'selected':'' }}>Assembly
            <option {{ @POST.area=='Test'?'selected':'' }}>Test
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="station">Station:</label>
    <div class="col-xs-5 col-sm-3">
        <select id="station" name="station" class="form-control"/>
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="station">Shift:</label>
    <div class="col-xs-5 col-sm-3">
        <select id="shift" name="shift" class="form-control"/>
		<option>
		<option {{ @POST.shift=='1'?'selected':'' }}>1
		<option {{ @POST.shift=='2'?'selected':'' }}>2
		<option {{ @POST.shift=='3'?'selected':'' }}>3
		<option {{ @POST.shift=='4'?'selected':'' }}>4
        </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="partno">Part No:</label>
    <div class="col-xs-9 col-sm-5">
      <input type="text" class="form-control" id="partno" name="partno" value="{{ @POST.partno }}" placeholder="Part Number">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="good">Good:</label>
    <div class="col-xs-9 col-sm-3"> 
      <input type="text" class="form-control" id="good" name="good" value="{{ @POST.good }}" placeholder="Good quantity">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="scrap">Scrap:</label>
    <div class="col-xs-9 col-sm-3"> 
      <input type="text" class="form-control" id="scrap" name="scrap" value="{{ @POST.scrap }}" placeholder="Scrap quantity">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3 col-sm-2" for="rework">Rework:</label>
    <div class="col-xs-9 col-sm-3"> 
      <input type="text" class="form-control" id="rework" name="rework" value="{{ @POST.rework }}" placeholder="Rework quantity">
    </div>
  </div>
  <input type="hidden" id="id" name="id" value="{{ @POST.id }}"/>
  <input type="hidden" id="timestamp" name="timestamp"/>
  <input type="hidden" name="update" value="update" />
  <div class="form-group"> 
    <div class="col-xs-offset-3 col-xs-10 col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>


<script>   
    
    $(document).ready(function(){  
        $("#timestamp").val(formatNow());
        if ('{{ @POST.area }}' == 'Manufacturing') {
            $.each(mfg, function(index,value) {
		if ('{{ @POST.station }}' == value) {  
                  $('#station').append($('<option selected>').text(value).attr('value',value));
                } else {
                  $('#station').append($('<option>').text(value).attr('value',value));
                }
            });             
        }
        if ('{{ @POST.area}}' == 'Assembly') {
            $.each(assy, function(index,value) {
                if ('{{ @POST.station }}' == value) { 
		  $('#station').append($('<option selected>').text(value).attr('value',value));
		} else {
                  $('#station').append($('<option>').text(value).attr('value',value));
                }
            });
        }
        if ('{{ @POST.area }}' == 'Test') {
            $.each(test, function(index,value) {
		if ('{{ @POST.station }}' == value) {  
                  $('#station').append($('<option selected>').text(value).attr('value',value));
                } else {
                  $('#station').append($('<option>').text(value).attr('value',value));
                }
            });
        }
    });     

</script>


