<!--<input type="button" id="btnExport" value="Export"><br> //-->
<input type="text" id="search" onkeyup="searchTable()" class="form-control col-sm-4"  placeholder="Name">
<p>
<div id="dvData">
        <table id="sites" class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Modification Date</th>
               <th scope="col">Name</th>
               <th scope="col">Description</th>
               <th scope="col"></th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @sites }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ substr(trim(@rows.timestamp),0,16) }}</td>
                   <td>{{ trim(@rows.name) }}</td>
                   <td>{{ trim(@rows.description) }}</td>
                   <td></td>
                   <td>
                       <a href="{{ @BASE.'/company/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a> &nbsp;
                       <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

$(document).ready(function(){
  // Highlight the menu link
$("#list-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
});

function confirmDelete(rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/company/delete/"+rid,"_self");
	}
}
function searchTable() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("dvData");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    console.log(tr[i]);
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}


</script>



