<!--<input type="button" id="btnExport" value="Export"><br> //-->
<input type="text" id="search" onkeyup="searchTable()" placeholder="Customer or Zipcode">
<p>
<div id="dvData">
        <table id="expenses" class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Date</th>
               <th scope="col">Customer</th>
	       <th scope="col">Area</th>
               <th scope="col">Qty</th>
               <th scope="col">Tax</th>
               <th scope="col">VAT </th>
               <th scope="col">Country</th>
               <th scope="col">Receipt</th>
               <th scope="col"></th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @expenses }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ substr(trim(@rows.transdate),0,10) }}</td>
                   <td>{{ trim(@rows.customer) }}</td>
                   <td>{{ trim(@rows.area) }}</td>
                   <td align="right">{{ trim(@rows.qty) }}</td>
                   <td align="right">{{ trim(@rows.taxes) }}</td>
                   <td align="right">{{ trim(@rows.vat) }}</td>
                   <td>{{ trim(@rows.country) }}</td>
                   <td><check if="trim(@rows.filename)!=''"><a href="uploads/{{ trim(@rows.filename) }}">Receipt</a></check></td>
                   <td></td>
                   <td>
                      [ <a href="{{ @BASE.'/expenses/update/'. @rows.id }}">Edit</a> | 
                       <a href="#" onClick="confirmDelete('{{ @rows.id }}')">Delete</a> ]
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>

$(document).ready(function(){
  $("#btnExport").click(function(e) {
//    window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#dvData').html()) );
    window.open('data:application/csv,' + encodeURIComponent($('#dvData').html()) );
    e.preventDefault();
  })
});

function searchTable() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("dvData");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}

function confirmDelete(rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/expenses/delete/"+rid,"_self");
	}
}
</script>



