<!--<input type="button" id="btnExport" value="Export"><br> //-->
<p>
<div id="dvData">
        <table id="tabledata" class="table table-hover">
           <thead class="thead-light">
           <tr>
               <th scope="col">ID</th>
               <th scope="col">Name</th>
               <th scope="col">Company</th>
               <th scope="col">Admin</th>
               <th scope="col"></th>
               <th scope="col">Action</th>
           </tr>
           </thead>
       
           <tbody>
           <repeat group="{{ @machines }}" value="{{ @rows }}">
               <tr>
                   <td>{{ trim(@rows.id) }}</td>
                   <td>{{ trim(@rows.title) }}</td>
                   <td>{{ trim(@rows.company) }}</td>
                   <td>{{ trim(@rows.username) }}</td>
                   <td></td>
                   <td>
                       <a href="{{ @BASE.'/machines/update/'. @rows.id }}"><img src="/ui/images/pencil.gif" width="15"></a> &nbsp;
                       <a href="#" onClick="confirmDelete('{{ @rows.id }}')"><img src="/ui/images/trash.gif" width="15"></a> 
                   </td>
       
               </tr>
           </repeat>
           </tbody>
       
        </table>
       </div>
<script>
var columns = {{ @columns }};

$(document).ready(function(){
  // Highlight the menu link
$("#list-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active');
});


function confirmDelete(rid) {
	if(confirm("Delete record:"+rid+" ?")){
		window.open("/machines/delete/"+rid,"_self");
	}
}
</script>



