<form action="/products/{{ @mode }}" method="post" class="form-horizontal">
    <div class="row">
      <div class="col-sm-4">
        <label class="control-label" for="transdate">Transaction Date:</label>
          <input type="text" class="form-control" id="transdate" name="transdate" placeholder="mm/dd/yyyy">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
      <label class="control-label" for="company">Company:</label>
      <select id="company" name="company" class="form-control" required>
      </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <label class="control-label" for="title">Product:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ @POST.title }}" required>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <label class="control-label" for="customer">Customer:</label>
            <input type="text" class="form-control" id="customer" name="customer" value="{{ @POST.customer }}" required>
      </div>
    </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-8">
        <label class="control-label" for="description">Description:</label>
          <textarea class="form-control" id="description" name="description" rows="3"><check if="{{ @mode == 'update' }}">{{ @POST.description }}</check></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
       <check if="{{ @mode == 'update' }}">
        <input type="hidden" name="id" value="{{ @POST.id }}">
       </check>
        <input type="hidden" name="username" value="{{ @SESSION.user }}"/>
        <input type="hidden" name="{{ @mode }}" value="{{ @mode }}" />
        <button type="submit" class="btn btn-warning">{{ @mode }}</button>
      </div>
    </div>
    </form>
  <script>  
  $(document).ready(function(){  
    // Highlight the menu link
    $("#create-link").removeClass('nav-link dropdown-toggle').addClass('nav-link dropdown-toggle active'); 
    // Updating the record 
    //$("#timestamp").val(formatNow());

      <check if="{{ @mode == 'update' }}">
        document.getElementById('transdate').value = formatDBDate('{{ @POST.transdate }}');
        companyUList();
      </check>

      <check if="{{ @mode == 'create' }}">
        document.getElementById('transdate').value = formatDates();
        companyCList();
      </check>
  });
   

  function companyUList() {
    $.get( "/companylist"  )
        .done(function( data ) {
        var datx = JSON.parse(data);
        $company = {{ @SESSION.company*1 }};
        $('#company').append($('<option>').text("Select...").attr('value',''));
        $.each(datx, function(index,value) {
          if (value.id == {{ @POST.company*1 }} ) {
            $('#company').append($('<option>').text(value.name).attr('value',value.id).attr('selected','selected'));
          } else {
            if ($company == 0) {
              $('#company').append($('<option>').text(value.name).attr('value',value.id));
            }
          }
        });
    });
  }

  function companyCList() {
    $.get( "/companylist"  )
          .done(function( data ) {
          var datx = JSON.parse(data);
          $company = {{ @SESSION.company*1 }};
				  $('#company').append($('<option>').text('Select...').attr('value',''));
                $.each(datx, function(index,value) {
                    if ($company == 0) {
                      $('#company').append($('<option>').text(value.name).attr('value',value.id));
                    } else {
                      if($company == value.id){
                         $('#company').append($('<option>').text(value.name).attr('value',value.id));
                      }
                    }
                });
    });
  }
  
  
</script>
    