<check if="{{ @page_head!='print' }}">
	<true>
  		<include href="header.htm" />
		<check if="{{ @page_head!='form' }}">
  		  	<true><include href="nav.htm"></true>
		</check>
		<include href="{{ @view }}"/>
		<include href="footer.htm"/>
	</true>
</check>
<check if="{{ @page_head=='print' }}">
	<true>
		<include href="header.htm"/>
		<include href="{{ @view }}"/>
		<include href="footer.htm"/>
	</true>
</check>
<check if="{{ @page_head=='raw' }}">
	<true>
	  	<include href="{{ @view }}">
	</true>
</check>
