<nav class="navbar navbar-expand-md bg-warning navbar-light fixed-top">
  <a href="/"><img src="/ui/images/DiazLLC_logo_box.jpeg" height="25"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar" style="align:right">
    <ul class="navbar-nav">    
    <li><div class="col">&nbsp;</div></li>
   <check if="{{ @SESSION.roles=='Operations' }}">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="interruptions-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/pause.png" width="20" title="Interruptions"></check>
          <check if="{{@icons == 0 }}">Interruptions</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/interruptions/create">Create</a>
          <a class="dropdown-item" href="/interruptions">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pareto-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/pareto.png" width="20" title="Pareto"></check>
          <check if="{{@icons == 0 }}">Pareto</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pareto/create">Create</a>
          <a class="dropdown-item" href="/pareto">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="trends-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/trend.png" width="20" title="Trends"></check>
          <check if="{{@icons == 0 }}">Trends</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/trends/create">Create</a>
          <a class="dropdown-item" href="/trends">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="stations-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/stations.png" width="20" title="Stations"></check>
          <check if="{{@icons == 0 }}">Stations</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/stations/create">Create</a>
          <a class="dropdown-item" href="/stations">List</a>
        </div>
      </li>
   </check>
   <check if="{{ @SESSION.roles=='Finance' }}">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="expenses-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/expense.png" width="35" title="Expenses"></check>
          <check if="{{@icons == 0 }}">Expenses</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/expenses/create">Create</a>
          <a class="dropdown-item" href="/expenses">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="clock-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/clock.png" width="35" title="Clock"></check>
          <check if="{{@icons == 0 }}">Clock</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/clocktime/create">Create</a>
          <a class="dropdown-item" href="/clocktime">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="invoices-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/invoice.png" width="25" title="Invoices"></check>
          <check if="{{@icons == 0 }}">Invoices</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/invoices/create">Create</a>
          <a class="dropdown-item" href="/invoices">List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="upload-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <check if="{{@icons == 1 }}"><img src="/ui/images/upload.png" width="25" title="Upload"></check>
          <check if="{{@icons == 0 }}">Upload</check>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/upload/create">Create</a>
          <a class="dropdown-item" href="/upload">List</a>
        </div>
      </li>
    </check>

    <check if="{{ @SECURE == true}}">
    <check if="{{ @SESSION.roles=='Admin' }}">
	    <true>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="create-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Create
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/company/create">Company</a>
              <a class="dropdown-item" href="/users/create">Users</a>
              <a class="dropdown-item" href="/sites/create">Sites</a>
              <a class="dropdown-item" href="/products/create">Products</a>
              <a class="dropdown-item" href="/machines/create">Machines</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="list-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              List
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/company">Company</a>
              <a class="dropdown-item" href="/users">Users</a>
              <a class="dropdown-item" href="/sites">Sites</a>
              <a class="dropdown-item" href="/products">Products</a>
              <a class="dropdown-item" href="/machines">Machines</a>
            </div>
          </li>
	    </true>
    </check>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="info-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <check if="{{@icons == 1 }}"><img src="/ui/images/profile.png" width="20" title="Profile"></check>
          <check if="{{@icons == 0 }}">Profile</check>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/password">Change Password</a>
            <a class="dropdown-item" href="/logout">Logout</a>
            <a class="dropdown-item"><font color="gray">Username: {{@SESSION.user}}</font></a>
            <a class="dropdown-item"><font color="gray">Company:{{@SESSION.company}}</font></a>
            <a class="dropdown-item"><font color="gray">Role: {{@SESSION.roles}}</font></a>
            <a class="dropdown-item"><font color="gray">Time Zone: {{@SESSION.timezone}}</font></a>
            <a class="dropdown-item"><font color="gray">Expire: {{@SESSION.timeoutdate}}</font></a>
          </div>
      </li>
    </check>
  </ul>
 </div>  
</nav>


