<div class="row">
    <div class="col-sm-4">
      <check if="{{ @back=='yes'}}">
	      <a href="/{{ @backto }}"><i class="bi-arrow-return-left" style="font-size:2em;" title="Return"></i></a> &nbsp; 
      </check>
      <check if="{{ @back=='one'}}">
	      <a href="/instructions/{{ @relation }}"><i class="bi-arror-left" style="font-size:2em;" title="Back"></i></a> &nbsp; 
      </check>
      <check if="{{ @create==''}}">
        <a href="/{{ @section }}/create/{{ @relation }}"><i class="bi-file-earmark-plus" style="font-size:2em;" title="Create record"></i></a>&nbsp;
      </check> 
      <check if="{{ @preview=='yes'}}">
        <a href="/instructions/grid/{{ @relation}}"><i class="grip-3x2-gap" style="font-size:2em" title="Preview"></i></a> &nbsp; 
      </check>
    </div>
    <div class="col-sm-4">
        &nbsp;
    </div>
    <div class="col-sm-4">
      <check if="{{ @search==''}}">
        <input type="text" id="search" onkeyup="searchTable()" class="form-control" placeholder="Search">    
      </check>
    </div>
</div>
  <p>
