<div class="row">
    <div class="col-sm-4">
      <check if="{{ @back=='yes'}}">
	      <a href="/{{ @backto }}"><img src="/ui/images/left.png" width="18" title="Back"></a> &nbsp; 
      </check>
      <check if="{{ @back=='one'}}">
	      <a href="/instructions/{{ @relation }}"><img src="/ui/images/left.png" width="18" title="Back"></a> &nbsp; 
      </check>
      <check if="{{ @create==''}}">
        <a href="/{{ @section }}/create/{{ @relation }}"><img src="/ui/images/newpaget.png" width="25" title="New Record"></a>&nbsp;
      </check> 
      <check if="{{ @preview=='yes'}}">
        <a href="/instructions/full/{{ @relation}}"><img src="/ui/images/inst.png" width="30" title="Full View"></a> &nbsp; 
        <a href="/instructions/grid/{{ @relation}}"><img src="/ui/images/nines.png" width="25" title="Grid"></a> &nbsp; 
      </check>
    </div>
    <div class="col-sm-4">
        &nbsp;
    </div>
    <div class="col-sm-4">
      <check if="{{ @search==''}}">
        <input type="text" id="search" onkeyup="searchTable()" class="form-control" placeholder="Search">    
      </check>
    </div>
</div>
  <p>
