<div class="row">
    <div class="col-sm-4">
      <check if="{{ @back=='yes'}}">
	      <a href="/stations"><img src="/ui/images/left.png" width="18" title="Back"></a> &nbsp; 
      </check>
      <check if="{{ @back=='one'}}">
	      <a href="/instructions/{{ @relation }}"><img src="/ui/images/left.png" width="18" title="Back"></a> &nbsp; 
      </check>
      <check if="{{ @preview=='yes'}}">
        <a href="/instructions/full/{{ @relation}}"><img src="/ui/images/filelist.png" width="25" title="Full View"></a> &nbsp; 
        <a href="/instructions/grid/{{ @relation}}"><img src="/ui/images/nines.png" width="25" title="Grid"></a> &nbsp; 
      </check>
      <a href="/{{ @section }}/create/{{ @relation }}"><img src="/ui/images/newpaget.png" width="25" title="New Record"></a>
    </div>
    <div class="col-sm-4">
        &nbsp;
    </div>
    <div class="col-sm-4">
      <input type="text" id="search" onkeyup="searchTable()" class="form-control" placeholder="Search">    
    </div>
</div>
  <p>
